@page {
  width: 100mm;
  height: 50mm;
  padding: 0.5mm;
}
.container {
  display: flex;
  flex-direction: row;
  width: 50mm;
  height: 25mm;
  padding: 0.5mm;
  /* border: 0.5px solid black; */
}
.image-container {
  display: absolute;
  bottom: 0;
  right: 0;
}
img {
  height: 6.4mm;
  vertical-align: middle;
  image-rendering: pixelated;
}
.label-container {
  margin-left: 1mm;
  font-family: Verdana;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  width: 80%;
  /* border: 1px solid red; */
}
.address {
  display: flex;
  flex-direction: column;
  font-size: 1.75mm;
  font-weight: 400;
}
.order-details {
  display: flex;
  flex-direction: row;
  font-size: 1.5mm;
  margin-top: 2mm;
  width: 40mm;
  align-items: center;
  justify-content: space-around;
  /* border: 1px solid blue; */
}
.order-details > #so {
  margin-left: 2mm;
}

.count {
  display: flex;
  margin-top: 3mm;
  font-size: 3mm;
  width: 40mm;
  align-items: center;
  justify-content: center;
}
