@page {
    width: 100mm;
    height: 50mm;
    padding: 0.5mm;
}

.container {
    display: flex;
    flex-direction: row;
    width: 100mm;
    height: 50mm;
    padding: 2mm;
    /* border: 0.5px solid black; */
}

.image-container {
    display: absolute;
    bottom: 0;
    right: 0;
}

img {
    height: 12.8mm;
    vertical-align: middle;
    image-rendering: pixelated;
}

.label-container {
    margin-left: 3mm;
    font-family: Verdana;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    width: 75mm;
    height: 50mm;
    align-items: center;
    justify-content: start;
    /* border: 1px solid red; */
}

.address {
    display: flex;
    flex-direction: column;
    font-size: 3.25mm;
    font-weight: 400;
}

.order-details {
    display: flex;
    flex-direction: row;
    font-size: 2.75mm;
    font-weight: 300;
    margin-top: 3mm;
    width: 70mm;
    align-items: center;
    justify-content: space-around;
    border: 0.5px solid black;
}

.order-details>#so>span,
.order-details>#po>span {
    font-weight: bold;
}

.count {
    display: flex;
    margin-top: 3mm;
    font-size: 5mm;
    width: 40mm;
    align-items: center;
    justify-content: center;
}